<div class="row">
	<div class="col-md-5">
		<h3 style="margin-top:0; display: inline">Detail View</h3>
		<p style="margin-bottom:0;">Volcker Desk:<label class="text-info">&nbsp;{{deskName}}</label></p>
		<p style="margin-bottom:0;">Date:<label class="text-info">&nbsp;{{date}}</label></p>
		<p style="margin-bottom:0;">Review Status:<label class="text-info">&nbsp;{{desk.sDescription}}</label></p>
		<p style="margin-bottom:0;">Reviewer:<label class="text-info">&nbsp;{{desk.sReviewerLogin}}</label></p>
	</div>
	<div class="col-md-7">
		<div ng-include=" 'common/templates/tradedProducts.html' " class="clearfix"></div>
	</div>
</div>
<div class="grid grid-large-header fixed-header-gridd" style="height: 58vh; width: 100%" ui-grid="detailGridOptions"
	ui-grid-move-columns
	ui-grid-resize-columns
	ui-grid-pinning
	ui-grid-edit
	ui-grid-expandable>
	<span us-spinner spinner-key="detail-spinner" spinner-start-active="false"></span>
	<div class="grid-overlay-msg" ng-show="noReportData">
		<div class="msg">
			<span>No Data</span>
		</div>
	</div>
	<div class="grid-overlay-msg" ng-show="error">
		<div class="msg">
			<span>{{error}}</span>
		</div>
	</div>
</div>
<div class="form-group row-top-buffer">
	<button type="button" class="btn btn-primary" ng-click="reviewReport()" ng-disabled="disableReview()">Review</button>
	<button type="button" class="btn btn-primary" ng-click="exportToExcel()" ng-disabled="detailGridOptions.data.length === 0">Export</button>
	<button type="button" class="btn btn-default" ng-click="goBack()">Back</button>
	<button type="button" class="btn btn-default" ng-click="showAuditHistory()" ng-disabled="detailGridOptions.data.length === 0">Audit History</button>
</div>
<div ng-include=" 'risk-position-limits-usage/auditHistory.html' " class="clearfix"></div>

<script type="text/ng-template" id="positionLimitUsage.html">
	<div class="modal-header">
		<h4 class="modal-title">Desk: <b>{{selectedDesk}}</b>, Book: <b>{{selectedBook}}</b>, Measure: <b>{{selectedLimit}}</b></h4>
	</div>
	<div class="modal-body" style="height: 700px">
		<div class="grid grid-large-header" style="height: 100%; width: 100%" ui-grid="positionsGridOptions"
			ui-grid-resize-columns
			ui-grid-pinning
			>
			<span us-spinner spinner-key="position-spinner" spinner-start-active="true"></span>
			<div class="grid-overlay-msg" ng-show="noPositionData">
				<div class="msg">
					<span>No Data</span>
				</div>
			</div>
			<div class="grid-overlay-msg" ng-show="error">
				<div class="msg">
					<span>{{error}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="exportPosition()" ng-disabled="positionsGridOptions.data.length === 0">Export</button>
		<button class="btn btn-default" ng-click="cancel()">Close</button>
	</div>
</script>