<div class="row">
	<div class="col-md-5">
		<div class="row">
			<div class="col-md-6">
				<label for="">Start Date</label>
				<p class="input-group">
					<input type="text" class="form-control"
							max-date="dateOptions.endDate"
							datepicker-popup="{{dateFormat}}"
							ng-model="dateOptions.startDate"
							is-open="dateOptions.startOpened"
							datepicker-append-to-body="true"
							date-disabled="disabledDate(date, mode)"
							close-text="Close"
							datepicker-options="dateOptions"
							ng-readonly="true"
							ng-change="formatStartDate()"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openStartCalendar($event)" ng-disabled="isSearching"><i
							class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
			<div class="col-md-6">
				<label for="">End Date</label>
				<p class="input-group">
					<input type="text" class="form-control"
						min-date="dateOptions.startDate"
						max-date="today"
						datepicker-popup="{{dateFormat}}"
						ng-model="dateOptions.endDate"
						is-open="dateOptions.endOpened"
						datepicker-append-to-body="true"
						date-disabled="disabledDate(date, mode)"
						datepicker-options="dateOptions"
						close-text="Close" ng-readonly="true"
						ng-change="formatEndDate()"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openEndCalendar($event)" ng-disabled="isSearching"><i
							class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
		</div>
		<div class="row row-top-buffer">
			<div class="col-md-12">
				<div class="form-group pull-left" style="min-width: 55%;margin-right: 15px;">
					<ui-select ng-model="desk.selected" ng-disabled="isSearching" theme="bootstrap" ng-disabled="disabled">
						<ui-select-match placeholder="Select a desk...">{{$select.selected.sVolckerDeskName}}</ui-select-match>
						<ui-select-choices repeat="desk in desks | orderBy: ['sVolckerDeskName'] | filter: {sVolckerDeskName: $select.search}">
							<div ng-bind-html="desk.sVolckerDeskName | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="pull-left">
					<div class="btn-group form-group v-align-top">
						<button class="btn btn-primary" ng-click="search()" ng-disabled="isSearching">Search</button>
					</div>
					<div class="btn-group form-group v-align-top">
						<div class="checkbox"><label><input type="checkbox" ng-model="breachOnly.val" ng-disabled="isSearching"/>Breach Only</label></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div ng-include=" 'common/templates/tradedProducts.html' " class="clearfix"></div>
	</div>
</div>
<div ui-grid="gridOptions"
	ui-grid-pinning
	ui-grid-expandable
	ui-grid-selection
	ui-grid-resize-columns
	class="grid fixed-header-grid" style="height: 58vh">
	<span us-spinner spinner-key="report-multiday-spinner" spinner-start-active="false"></span>
	<div class="grid-overlay-msg" ng-show="noReportData">
		<div class="msg">
			<span>No Data</span>
		</div>
	</div>
	<div class="grid-overlay-msg" ng-show="error">
		<div class="msg">
			<span>{{error}}</span>
		</div>
	</div>
</div>
<div ng-include=" 'common/templates/multiDayFooter.html' " class="clearfix"></div>

<script type="text/ng-template" id="breachedProducts.html">
	<div class="modal-header">
		<h4 class="modal-title"><b>Breach - Unauthorized Product(s) Traded</b></h4>
	</div>
	<div class="modal-body" style="height: 700px">
		<div class="grid grid-large-header" style="height: 100%; width: 100%"
			ui-grid="unauthorizedProductsGridOptions"
				ui-grid-resize-columns
			>
			<div class="grid-overlay-msg" ng-show="noPositionData">
				<div class="msg">
					<span>No Data</span>
				</div>
			</div>
			<span us-spinner spinner-key="grid-spinner" spinner-start-active="true"></span>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Close</button>
	</div>
</script>