<div class="row">
	<div class="col-md-2">
		<!-- <label>Reporting Day</label> -->
		<p class="input-group">
			<input type="text" class="form-control"
				max-date="today"
				datepicker-popup="{{dateFormat}}"
				required
				ng-model="dateOptions.datePicked"
				is-open="dateOptions.opened"
				datepicker-options="dateOptions"
				datepicker-append-to-body="true"
				date-disabled="disabledDate(date, mode)"
				close-text="Close"
				ng-change="formatSelectedDate()"
				ng-readonly="true"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="openCalendar($event)" ng-disabled="isSearching"><i
					class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</p>
	</div>
	<div class="form-group btn-group v-align-top">
		<button class="btn btn-primary" ng-click="searchReports()" ng-disabled="isSearching">Search</button>
	</div>
	<div class="btn-group form-group v-align-top">
		<div class="checkbox"><label><input type="checkbox" ng-model="breachOnly.val" ng-disabled="isSearching"/>Breach Only</label></div>
	</div>
</div>