<header class="main-header">
	<h1 class="group"><a href="/" id="nav-logo">Mizuho</a></h1>
		<nav class="navbar" style="padding:0;">
			<ul class="nav">
				<li ui-sref-active="active-tab">
					<a ui-sref="risk-position-limits-usage" ui-sref-opts="{reload: true}">1 Risk & Position Limits & Usage</a>
				</li>
				<li ui-sref-active="active-tab">
					<a ui-sref="risk-factor-sensitivities" ui-sref-opts="{reload: true}">2 Risk Factor Sensitivities</a>
				</li>
				<li ui-sref-active="active-tab">
					<a ui-sref="VaR-and-sVaR" ui-sref-opts="{reload: true}">3 VaR & sVaR</a>
				</li>
				<li ui-sref-active="active-tab">
					<a ui-sref="comprehensive-PnL" ui-sref-opts="{reload: true}">4 Comprehensive P&L</a>
				</li>
				<li ui-sref-active="active-tab">
					<a ui-sref="inventory-turnover" ui-sref-opts="{reload: true}">5 Inventory Turnover</a>
				</li>
				<li ui-sref-active="active-tab">
					<a ui-sref="inventory-aging" ui-sref-opts="{reload: true}">Panel 6</a>
				</li>
				<li ui-sref-active="active-tab">
					<a ui-sref="customer-facing-trade-ratio" ui-sref-opts="{reload: true}">Panel 7</a>
				</li>
				<li ui-sref-active=" active-tab"><a ui-sref="table-of-content">Table of Content</a></li>
			</ul>
		</nav>
</header>