<div class="btn-group form-group" role="group">
  <button type="button" class="btn btn-default" ui-sref=".multi-day" ng-class="{active: activeTab === '/multi-day'}">Multiple Days View</button>
  <button type="button" class="btn btn-default" ui-sref=".day" ng-class="{active: activeTab === '/day'}">Day View</button>
</div>
<div data-ui-view>

</div>