<div class="row">
	<div class="col-md-3">
		<h3 style="margin-top:0; display: inline">Detail View</h3>
		<p style="margin-bottom:0;">Volcker Desk:<label class="text-info">&nbsp;{{deskName}}</label></p>
		<p style="margin-bottom:0;">Date:<label class="text-info">&nbsp;{{date}}</label></p>
		<p style="margin-bottom:0;">Review Status:<label class="text-info">&nbsp;{{desk.sDescription}}</label></p>
		<p style="margin-bottom:0;">Reviewer:<label class="text-info">&nbsp;{{desk.sReviewerLogin}}</label></p>
		<!-- <div class="pull-right clearfix" style="height:30px;">
			<label class="">View:&nbsp; <a ng-click="loadState()" class="text-primary pull-right">{{selectedTemplate.name}}</a></label>
			<span>&nbsp;</span><button class="btn btn-default btn-xs pull-right" ng-click="saveState()">Modify/Create</button>
		</div> -->
	</div>
	<div class="col-md-9">
		<div class="panel panel-default product-panel">
			<div class="panel-body">
				<div ng-if="deskLevelAdjustment.oComprehensivePnLDTO">
					<p>Desk level adjustment made to <b>{{deskLevelAdjustment.oComprehensivePnLDTO}}</b> for <b>{{deskName}}</b>.</p>
					<p style="padding-left:15px;">The desk level P&L no longer equals the value at the book and position levels for <b>{{deskLevelAdjustment.oComprehensivePnLDTO}}</b> and <b>Residual P&L</b>.</p>
				</div>
				<div ng-if="deskLevelAdjustment.oExistingPositionPnLDTO">
					<p>Desk level adjustment made to <b>{{deskLevelAdjustment.oExistingPositionPnLDTO}}</b> for <b>{{deskName}}</b>.</p>
					<p style="padding-left:15px;">The desk level P&L no longer equals the value at the book and position levels for <b>{{deskLevelAdjustment.oExistingPositionPnLDTO}}</b>, <b>Residual P&L</b>, and <b>Other</b>.</p>
				</div>
				<div ng-if="deskLevelAdjustment.oNewPositionPnLDTO">
					<p>Desk level adjustment made to <b>{{deskLevelAdjustment.oNewPositionPnLDTO}}</b> for <b>{{deskName}}</b>.</p>
					<p style="padding-left:15px;">The desk level P&L no longer equals the value at the book and position levels for <b>{{deskLevelAdjustment.oNewPositionPnLDTO}}</b> and <b>Residual P&L</b>.</p>
				</div>
				<div ng-if="deskLevelAdjustment.oRiskFactorPnLDTO">
					<p>Desk level adjustment made to <b>{{deskLevelAdjustment.oRiskFactorPnLDTO}}</b> for <b>{{deskName}}</b>.</p>
					<p style="padding-left:15px;">The desk level P&L no longer equals the value at the book and position levels for <b>{{deskLevelAdjustment.oRiskFactorPnLDTO}}</b> and <b>Other</b>.</p>
				</div>
				<div ng-if="deskLevelAdjustment.oActualCashFlowPnLDTO">
					<p>Desk level adjustment made to <b>{{deskLevelAdjustment.oActualCashFlowPnLDTO}}</b> for <b>{{deskName}}</b>.</p>
					<p style="padding-left:15px;">The desk level P&L no longer equals the value at the book and position levels for <b>{{deskLevelAdjustment.oActualCashFlowPnLDTO}}</b> and <b>Other</b>.</p>
				</div>
				<div ng-if="deskLevelAdjustment.oCarryPnLDTO">
					<p>Desk level adjustment made to <b>{{deskLevelAdjustment.oCarryPnLDTO}}</b> for <b>{{deskName}}</b>.</p>
					<p style="padding-left:15px;">The desk level P&L no longer equals the value at the book and position levels for <b>{{deskLevelAdjustment.oCarryPnLDTO}}</b> and <b>Other</b>.</p>
				</div>
				<div ng-if="deskLevelAdjustment.oValuationAdjustmentPnLDTO">
					<p>Desk level adjustment made to <b>{{deskLevelAdjustment.oValuationAdjustmentPnLDTO}}</b> for <b>{{deskName}}</b>.</p>
					<p style="padding-left:15px;">The desk level P&L no longer equals the value at the book and position levels for <b>{{deskLevelAdjustment.oValuationAdjustmentPnLDTO}}</b> and <b>Other</b>.</p>
				</div>
				<div ng-if="deskLevelAdjustment.oTradeChangePnLDTO">
					<p>Desk level adjustment made to <b>{{deskLevelAdjustment.oTradeChangePnLDTO}}</b> for <b>{{deskName}}</b>.</p>
					<p style="padding-left:15px;">The desk level P&L no longer equals the value at the book and position levels for <b>{{deskLevelAdjustment.oTradeChangePnLDTO}}</b> and <b>Other</b>.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid grid-large-header" style="height: 62vh; width: 100%" ui-grid="detailGridOptions"
	ui-grid-move-columns
	ui-grid-resize-columns
	ui-grid-pinning
	ui-grid-save-state
	ui-grid-edit>
	<div class="grid-overlay-msg" ng-show="isSearching">
		<span us-spinner spinner-key="report-multiday-spinner" spinner-start-active="false"></span>
	</div>
	<span us-spinner spinner-key="detail-spinner" spinner-start-active="true"></span>
	<div class="grid-overlay-msg" ng-show="noReportData">
		<div class="msg">
			<span>No Data</span>
		</div>
	</div>
	<div class="grid-overlay-msg" ng-show="error">
		<div class="msg">
			<span>{{error}}</span>
		</div>
	</div>
</div>
<div class="form-group row-top-buffer">
	<button type="button" class="btn btn-primary" ng-disabled="detailGridOptions.data.length === 0" ng-click="reviewReport()">Review</button>
	<button type="button" class="btn btn-primary" ng-disabled="detailGridOptions.data.length === 0" ng-click="exportToExcel()">Export</button>
	<button type="button" class="btn btn-default" ng-click="goBack()">Back</button>
	<button type="button" class="btn btn-default" ng-disabled="detailGridOptions.data.length === 0" ng-click="showAuditHistory()">Audit History</button>
	<button type="button" class="btn btn-default glyphicon glyphicon-file" ng-click="showDocument()" ng-disabled="detailGridOptions.data.length === 0"></button>
	<button type="button" class="btn btn-default glyphicon glyphicon-pencil" ng-click="showComment()" ng-disabled="detailGridOptions.data.length === 0"></button>
</div>
<div ng-include=" 'comprehensive-PnL/auditHistory-a.html' " class="clearfix"></div>

<script type="text/ng-template" id="ComprehensivePnLPositionLimitUsage.html">
	<div class="modal-header">
		<h4 class="modal-title">Desk: <b>{{selectedDesk}}</b>, Book: <b>{{selectedBook}}</b></h4>
	</div>
	<div class="modal-body" style="height: 700px">
		<div class="grid grid-large-header" style="height: 100%; width: 100%" ui-grid="positionsGridOptions"
			ui-grid-move-columns
			ui-grid-pinning
			>
			<span us-spinner spinner-key="position-spinner" spinner-start-active="true"></span>
			<div class="grid-overlay-msg" ng-show="noPositionData">
				<div class="msg">
					<span>No Data</span>
				</div>
			</div>
			<div class="grid-overlay-msg" ng-show="error">
				<div class="msg">
					<span>{{error}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-disabled="positionsGridOptions.data.length === 0" ng-click="exportPosition()">Export</button>
		<button class="btn btn-default" ng-click="cancel()">Close</button>
	</div>
</script>