<h3 style="margin-top:0; display: inline">Detail View</h3>
<span>&nbsp;&nbsp;Volcker Desk:</span><label class="text-info">&nbsp;{{deskName}}&nbsp;&nbsp;</label>
<span>&nbsp;&nbsp;Date:</span><label class="text-info">&nbsp;{{date}}&nbsp;&nbsp;</label>
<span>&nbsp;&nbsp;Review Status:</span><label class="text-info">&nbsp;{{desk.sDescription}}&nbsp;&nbsp;</label>
<span>&nbsp;&nbsp;Reviewer:</span><label class="text-info">&nbsp;{{desk.sReviewerLogin}}&nbsp;&nbsp;</label>
<div class="grid grid-large-header" style="height: 72vh; width: 100%" ui-grid="detailGridOptions"
	ui-grid-expandable
	ui-grid-move-columns
	ui-grid-resize-columns
	ui-grid-pinning
	ui-grid-save-state
	ui-grid-edit>
	<span us-spinner spinner-key="detail-spinner" spinner-start-active="false"></span>
	<div class="grid-overlay-msg" ng-show="noReportData">
		<div class="msg">
			<span>No Data</span>
		</div>
	</div>
	<div class="grid-overlay-msg" ng-show="error">
		<div class="msg">
			<span>{{error}}</span>
		</div>
	</div>
</div>
<div class="form-group row-top-buffer">
	<button type="button" class="btn btn-primary" ng-click="reviewReport()" ng-disabled="disableReview()">Review</button>
	<button type="button" class="btn btn-primary" ng-click="exportToExcel()" ng-disabled="detailGridOptions.data.length === 0">Export</button>
	<button type="button" class="btn btn-default" ng-click="goBack()">Back</button>
	<button type="button" class="btn btn-default" ng-click="showAuditHistory()" ng-disabled="detailGridOptions.data.length === 0">Audit History</button>
	<button type="button" class="btn btn-default glyphicon glyphicon-file" ng-click="showDocument()" ng-disabled="detailGridOptions.data.length === 0"></button>
	<button type="button" class="btn btn-default glyphicon glyphicon-pencil" ng-click="showComment()" ng-disabled="detailGridOptions.data.length === 0"></button>
</div>
<div ng-include=" 'risk-factor-sensitivities/auditHistory.html' " class="clearfix"></div>

<script type="text/ng-template" id="RFSPositionUsage.html">
	<div class="modal-header">
		<h4 class="modal-title">Desk: <b>{{selectedDesk}}</b>, Book: <b>{{selectedBook}}</b></h4>
	</div>
	<div class="modal-body" style="height: 700px">
		<div class="grid grid-large-header" style="height: 100%; width: 100%" ui-grid="positionsGridOptions"
			ui-grid-move-columns
			ui-grid-pinning>
			<span us-spinner spinner-key="position-spinner" spinner-start-active="true"></span>
			<div class="grid-overlay-msg" ng-show="noPositionData">
				<div class="msg">
					<span>No Data</span>
				</div>
			</div>
			<div class="grid-overlay-msg" ng-show="error">
				<div class="msg">
					<span>{{error}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="exportPosition()" ng-disabled="positionsGridOptions.data.length === 0">Export</button>
		<button class="btn btn-default" ng-click="cancel()">Close</button>
	</div>
</script>