.row-top-buffer {
  margin-top: 15px;
}

.is-error {
  color : #a94442;
}

#deskName.ng-invalid-pattern {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#volcker-menu {
	li {
		width: 100%;

		&.active {
			a {
				background-color: #428bca;
				color: #fff;
			}
		}
	}
}

.angular-ui-tree-handle.active {
	background: #e4f6f7;
	border-color: #438eb9;
}

td.overflow-visible {
	overflow: visible;
}

.overlay-spinner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(0,0,0,0.5);
}

