.app-body {
	border-top: 1px solid #e3e3e3;
}

.main-content {
	padding-top: 22px
}

.top-form {
	background-color: #f6f6f6;
	padding: 20px;
}

.table-wrap {
	overflow-x: scroll;
}

.group-select {
	margin-top: 5px;
}