
// Grid
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-column-width: 65px;

// Color Scheme
$default-bg: #fff;
$primary-blue: #211F8A;
$primary-red: #FA0000;

$supporting-blue-1: #3F65BD;
$supporting-blue-2: #5096C8;
$supporting-gray: #EEEEEE;
$supporting-white: #FAFAFA;

$grayscale-1: #000000;
$grayscale-2: #2C2C2C;
$grayscale-3: #858593;
$grayscale-4: #888888;
$grayscale-5: #DDDDDD;
$grayscale-6: #E9E9E9;

$notification-bg: #F2DEDE;
$notification-content: #E21A22;
$notification-success-bg: #DFF0D8;
$notification-success-content: #468646;

// TypoGraphy
$font-family: "HelveticaNeueW02-55Roma","Helvetica Neue",Helvetica,Arial,sans-serif;

$page-gutter: 20px;
