/* Headers */
h1{
  font-family: $font-family;
  font-size: 32px;
  line-height: 40px;

  .feature{
    font-size:50px;
    font-weight: lighter;
  }

  #page .feature{
    font-size:32px;
    font-weight: lighter;
  }
}

h2.heading{
    font-size:32px;
    font-weight: lighter;

}

h3.subheading{
    font-size:17px;
    font-weight:500;

}

h4{
  .box{
    .heading{
      font-size:15px;
      font-weight:normal;
    }
  }
}

h5{
  .title{
      font-size:16px;
      font-weight:lighter;
  }
}

/*Paragraph content*/

p{
  .body{
    .copy{
      font-size:14px;
      font-weight:normal;
    }
  }

  .bold{
    font-size:14px;
    font-weight:bold;
  }

  .italic{
    font-size:14px;
    font-style: italic;
  }

  .small{
    font-size:13px;
    font-weight:normal;
  }

  .lead{
    font-size:18px;
    font-weight:normal;
  }

  .dark{
    font-size:14px;
    font-weight:normal;
  }

  .text {
    .link{
      font-size:16px;
      font-weight:lighter;
    }
  }
}

/* Navigation */
nav{
  font-size:14px;
  font-weight:200;

  .dropdown{
    font-size:15px;
    font-weight:normal;
  }
  .active{
    font-size:14px;
    font-weight:200;
  }
}

.subnav{
  font-size:13px;
  font-weight:500;

  .active{
    font-size:13px;
    font-weight:500;
  }
}

/* Others Assets */
a{
  .link{
    font-size:14px;
    font-weight:normal;
  }
}

.btn{
  font-size:14px;
  font-weight:normal;
}

input{
  font-size:14px;
  font-weight:500;
}






