.ui-grid-cell-contents {
  &.nested-contents {

    padding: 0;
    .ui-grid-nested-cell-header {
      // padding: 5px 5px 50px 5px; // originally for panel 1 nested 3X3 cell
      padding: 5px;
      height: 33%;
      // &:nth-child(even) {
      //   background-color: #f3f3f3;
      // }
    }
    .ui-grid-nested-cell {
      padding: 5px 5px 10px 5px;
      height: 33%;
      // &:nth-child(even) {
      //   background-color: #f3f3f3;
      // }
    }
  }

  &.wrap-content {
    word-wrap: normal;
    white-space: normal;
  }
}
.clickable-grid {
  .ui-grid-row {
    cursor: pointer;
  }
}

.ui-grid-row {
  &:nth-child(even) {
    .ui-grid-cell {
      .nested-contents {
        .ui-grid-nested-cell-header {
          // &:nth-child(even) {
          //   background-color: #fff;
          // }
        }
        .ui-grid-nested-cell {
          // &:nth-child(even) {
          //   background-color: #fff;
          // }
        }
      }
    }
  }
}

.ui-grid-row-selected {
  .ui-grid-nested-cell-header {
    &:nth-child(even) {
      background-color: #c9dde1 !important;
    }
  }
  .ui-grid-nested-cell {
    &:nth-child(even) {
      background-color: #c9dde1 !important;
    }
  }
}

.ui-grid-row-selected:nth-child(even) {
  .ui-grid-nested-cell-header {
    &:nth-child(odd) {
      background-color: #c9dde1 !important;
    }
  }
  .ui-grid-nested-cell {
    &:nth-child(even) {
      background-color: #c9dde1 !important;
    }
  }
}

.modal-xl {
    @media (min-width: 1280px) {
      .modal-dialog {
        width: 1200px;
      }
    }
    @media (min-width: 1440px) {
      .modal-dialog {
        // width: 1240px;
        width: 85%;
      }
    }

    @media (min-width: 1600px) {
      .modal-dialog {
        // width: 1440px;
        width: 85%;
      }
    }
}

.table-overflown {
  td {
    white-space: normal;
  }
}

// breach flag cell color
.breached {
  color: red;
}

a.breached {
  &:hover {
    color: red;
    text-decoration: underline;
  }
}

.revised {
  color: rgb(136, 11, 208);
}

.approaching {
  color: rgb(255, 109, 196);
}

.fixed-header-grid {
  .ui-grid-header {
    height: 60px;
    max-height: 60px;
  }
}

.product-panel {
  height: 120px;
  overflow: auto;
}

.expandableRow {
  .ui-grid-row {
    &:nth-child(odd) {
      .ui-grid-cell {
        &.primary-col {
          background-color: #F5F5F5;
        }

        &.total-col {
          background-color: #F5F5F5;
        }
      }
    }
    
    &:nth-child(even) {
      .ui-grid-cell {
        &.primary-col {
          background-color: #E2E2E2;
        }

        &.total-col {
          background-color: #E2E2E2;
        }
      }
    }
  }
}

.ui-grid-row {
  &:nth-child(odd) {
    .ui-grid-cell {
      &.primary-col {
        background-color: #F5F5F5;
      }

      &.total-col {
        background-color: #F5F5F5;
      }
    }
  }

  &:nth-child(even) {
    .ui-grid-cell {
      &.primary-col {
        background-color: #E2E2E2;
      }

      &.total-col {
        background-color: #E2E2E2;
      }
    }
  }
}

.grid-large-header {
  .ui-grid-header-cell {
    .ui-grid-cell-contents {
       word-wrap: break-word;
       height: 48px;
       white-space: normal;
       -ms-text-overflow: clip;
       -o-text-overflow: clip;
       text-overflow: clip;
       overflow: visible;
    }
  }
}

.grid-normal-header {
  .ui-grid-header-cell {
    .ui-grid-cell-contents {
       height: auto;
    }
  }
}
.editable {
  padding: 1px;
  .ui-grid-cell-contents {
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #fff;
  }
}

.dark-header,
.primary-header,
.total-header {
  background: #e2e2e2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaa), color-stop(1, #fff));
  background: -ms-linear-gradient(bottom, #aaa, #fff);
  background: -moz-linear-gradient(center bottom, #aaa 0%, #fff 100%);
  background: -o-linear-gradient(#aaa, #fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaa', endColorstr='#fff', GradientType=0);
}

.hidden-filter {
  .ui-grid-filter-container {
    visibility: hidden;
  }
}

.popover-visible {
  overflow: visible;
}

[contenteditable="true"] {
  padding: 10px;
  border: none;
  outline: none;

  &:hover:not(:focus) {
    outline: 1px dashed #aaa;
  }
}

.form-control-xs {
  height: 25px;
}

.v-align-top {
  vertical-align: top;
}

/*
   This is the background of our overlay. We need it to be
   absolutely positioned within the grid, and fill from
   top to bottom, and the full width. It will also have
   a black background with 40% opacity.
*/
.grid-overlay-msg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
 
/*
  This guy will contain our message. We want it centered
  so it's positioned absolutely with percentage-based
  offsets and dimensions. It also has some basic border
  stuff and most important is using "display: table" so
  we can vertically center its contents.
*/
.grid-overlay-msg .msg {
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20%;
  height: 20%;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #555;
  text-align: center;
  font-size: 18px;
  display: table;
}

.traded-product {
  &.grid-overlay-msg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    bottom: 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  &.grid-overlay-msg .msg {
    opacity: 1;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #555;
    text-align: center;
    font-size: 16px;
    display: table;
  }
}
/*
  Lastly this is the actual message text. It uses
  display: table-cell so the vertical alignment
  works properly.
*/
.grid-overlay-msg .msg span {
  display: table-cell;
  vertical-align: middle;
}

.fixed-header-height {
  height: 76px;
}

.has-comment {
  a.glyphicon {
    color: #ef921b;
  }
}

.has-comment {
  color: #ef921b;
}

.expandable-hidden i{
   display:none;
}