
@import 'settings';
@import 'typography';
@import 'mortgage-abs';
@import 'tree';
@import 'ipv';


/* Bootstrap columns of same height styles */
.container-xs-height {
  display:table;
  padding-left:0px;
  padding-right:0px;
}

.row-xs-height {
  display:table-row;
}
.col-xs-height {
  display:table-cell;
  float:none;
}

@media (min-width: 768px) {
  .container-sm-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-sm-height {
    display:table-row;
  }
  .col-sm-height {
    display:table-cell;
    float:none;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-md-height {
    display:table-row;
  }
  .col-md-height {
    display:table-cell;
    float:none;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-lg-height {
    display:table-row;
  }
  .col-lg-height {
    display:table-cell;
    float:none;
  }
}
/* firefox fix */
.img-responsive {
  width: 100%;
}

/* vertical alignment styles */
.col-top {
  vertical-align:top;
}
.col-middle {
  vertical-align:middle;
}
.col-bottom {
  vertical-align:bottom;
}


/* clearfix with semantic name */
.group:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

/* Site Header */


header.main-header {
    /*left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;*/

    h1 {
      background: linear-gradient(to right, #000066 0%, #000066 55%, #5577bb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      padding: 20px $page-gutter;
      margin:0px;
    }
    #nav-logo {
      background: url("../images/banner_logo.png") no-repeat;
      color: transparent;
      display: block;
      height: 40px;
      width: 132px;
    }
    .navbar {
      background-color: $supporting-white;
      color: $grayscale-1;
      height: 40px;
      overflow: visible;
      padding: 0px $page-gutter;
      min-height: 40px;
      margin:0px;
      .nav {
        li {
          float: left;
        }
        a {
          // padding: 10px 20px 10px 0;
          color: $grayscale-2;
          display: block;
        }
        a:hover {
          color: $supporting-blue-1;
          // background: transparent;
        }
        li.active a {
          color: $supporting-blue-1;
        }
        li.active-tab {
          background: #334799;
          a {
            color: $supporting-white;
          }
        }
      }
      .nav > li.active-tab > a:focus,
      .nav > li.active-tab > a:hover {
        background-color: #334799;
        color: $supporting-white;
      }
    }
  }


#page {
  padding-top: 5px;
  h1.page-header {
    color: $supporting-blue-1;
    border:0px;
  }
  .two-col {

    .left-col {
      padding: 10px;
      border-top: 1px solid $supporting-gray;
      border-right: 5px solid $supporting-gray;
    }
    .right-col {
      padding: 10px;
      border-top: 1px solid $supporting-gray;

    }
  }
  h2.page-header {
    border-top: 5px solid $supporting-gray;
    margin: 40px 0px 10px;
    padding-top: 10px;
  }

  hr {
    border: 3px solid $supporting-gray;
  }

  .ep-grid, .ipv-grid, .issuer-grid, .client-grid{

    height:600px;

  }
}

.table td {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th {
  white-space: nowrap;
}

.table-wrap {
  height: 532px;
  overflow: auto;
}
